{% extends 'layout.html' %} {% block content %}
<h2>Feed</h2>
<div class="row justify-content-around">
	{% if setup %}
		{{ setup }}
	{% else %}
		{% if users %}
			{% for user in users %}
			<div class="card col-md-5 feed">
				{% if user.path %}
				<img
					style="height: 250px; width: 100%; display: block;"
					src="{{ url_for('static', filename='photos/' + user.path) }}"
					alt="Card image"
				/>
				{% else %}
				<img
					style="height: 250px; width: 100%; display: block;"
					src="{{ url_for('static', filename='photos/' + 'default.jpeg') }}"
					alt="Card image"
				/>
				{% endif %}
				<div class="card-body">
					<h4 class="card-title">
						<a href="{{ url_for('users.profile', username=user.username) }}"
							>{{ user.username }}
						</a>
					</h4>
					<h6 class="card-subtitle mb-2 text-muted">
						{% if user.age %} {{ user.age }} {% else %} Not Specified
						{%endif %}
					</h6>
					<!-- shhh this is the distance -->
					<h6 class="card-subtitle mb-2 text-muted">
						{% if user.distance %} {{ user.distance }} km {% else %} Unknown 
						{%endif %}
					</h6>
				</div>
			</div>
			{% endfor %}
		{% else %}
			Sorry, no users were found that match your criteria
		{% endif %}
	{% endif %}
</div>
{% endblock %} {% block sidebar %}
<div class="content-section">
	<form action="" id="query" method="POST">
		<fieldset class="form-group">

			<legend class="border-bottom mb-4">Search</legend>
			<div class="form-group">
				<label for="search" class="form-control-label">Search</label>
				<input
					type="text"
					name="search"
					id="search"
					class="form-control form-control-md"
					{% if form.search %}
						value = '{{ form.search }}'
					{% endif %}
				/>
			</div>

			<div class="form-group">
				<label for="Order" >Order By</label>
				<select name="Order" id= "Order">
					<option {% if form.Order == "Fame" %} selected="selected"{% endif %}>
						Fame</option>
					<option {% if form.Order == "Distance" %} selected="selected"{% endif %}>
						Distance</option>
					<option {% if form.Order == "Age" %} selected="selected"{% endif %}>
						Age</option>
					<option {% if form.Order == "Username" %} selected="selected"{% endif %}>
						Username</option>
				  </select>
			</div>
			
				
			<div class="form-row align-items-center">
				<div class="age-div">
					<label class="age-label">Min Age</label>
					<input
						type="number"
						name="MinAge"
						id="MinAge"
						min="10"
						{% if form.MinAge %}
							value = '{{ form.MinAge }}'
						{% endif %}
					/>
				</div>
				<div class="age-div">
					<label class="age-label">Max Age</label>
					<input
						type="number"
						name="MaxAge"
						id="MaxAge"
						max="100"
						{% if form.MaxAge %}
							value = '{{ form.MaxAge }}'
						{% endif %}
					/>
				</div>
			</div>
			<div class="form-row align-items-center">
				<div class="age-div">
					<label class="age-label">Min Fame</label>
					<input
						type="number"
						name="MinFame"
						id="MinFame"
						min="0"
						step="0.1"
						{% if form.MinFame %}
							value = '{{ form.MinFame }}'
						{% endif %}
					/>
				</div>
				<div class="age-div">
					<label class="age-label">Max Fame</label>
					<input
						type="number"
						name="MaxFame"
						id="MaxFame"
						max="5"
						step="0.1"
						{% if form.MaxFame %}
							value = '{{ form.MaxFame }}'
						{% endif %}
					/>
				</div>
			</div>
			<div class="form-row align-items-center">
				<div class="age-div">
					<label class="age-label">Min Distance</label>
					<input
						type="number"
						name="MinDist"
						id="MinDist"
						min="0"
						step="0.1"
						{% if form.MinDist %}
							value = '{{ form.MinDist }}'
						{% endif %}
					/>
				</div>
				<div class="age-div">
					<label class="age-label">Max Distance</label>
					<input
						type="number"
						name="MaxDist"
						id="MaxDist"
						step="0.1"
						{% if form.MaxDist %}
							value = '{{ form.MaxDist }}'
						{% endif %}
					/>
				</div>

				<div class="form-group">
					<label for="city" class="form-control-label">city</label>
					<input
						type="text"
						name="city"
						id="city"
						class="form-control form-control-md"
						{% if form.city %}
							value = '{{ form.city }}'
						{% endif %}
					/>
				</div>
			</div>

			<div class="form-check">
				<input
					type="checkbox"
					name="tags"
					id="tags"
					class="form-check-input"
					{% if form.tags %}
						checked="True"
					{% endif %}
				/>
				<label for="tags" class="form-check-label">Same tags</label>
			</div>
		</fieldset>
		<!-- Buttons for search -->
		<div id="SubmitForm" class="form-group d-flex justify-content-between">
			{% if not session.page %}				
				<button type="submit" class="btn btn-outline-primary" name="submit" value="Search">
					Search
				</button>
			{% else %}
			<button type="submit" class="btn btn-outline-primary" name="submit" value="Previous">
				Previous
			</button>
			<label>
				{{ session.page }}
			</label>
			<button type="submit" class="btn btn-outline-primary" name="submit" value="Next">
					Next
			</button>
			{% endif %}
		</div>		
	</form>
</div>

<script>
function change()
{
	document.getElementById("SubmitForm").innerHTML = "<button type='submit' class='btn btn-outline-primary' name='submit' value='Search'>Search</button>"
}

var inputs = document.getElementsByTagName("input"); 
for (i=0; i<inputs.length; i++){
	// inputs[i].onchange = change;
	inputs[i].onfocusout = change;
}

var select = document.getElementById("Order");
	select.onchange = change

</script>
{% endblock %}
