{% extends 'layout.html' %} {% block content %}
<h2>Feed</h2>
<div class="row justify-content-around">
	{% if setup %} {{ setup }} {% else %} {% if users %} {% for user in users %}
	<div class="card col-md-5 feed">
		{% if user.path %}
		<img
			style="height: 250px; width: 100%; display: block;"
			src="{{ url_for('static', filename='photos/' + user.path) }}"
			alt="Card image"
		/>
		{% else %}
		<img
			style="height: 250px; width: 100%; display: block;"
			src="{{ url_for('static', filename='photos/' + 'default.jpeg') }}"
			alt="Card image"
		/>
		{% endif %}
		<div class="card-body">
			<h4 class="card-title">
				<a href="{{ url_for('users.profile', username=user.username) }}"
					>{{ user.username }}
				</a>
			</h4>
			<h6 class="card-subtitle mb-2 text-muted">
				{% if user.age %} {{ user.age }} {% else %} Not Specified
				{%endif %}
			</h6>
			<!-- shhh this is the distance -->
			<h6 class="card-subtitle mb-2 text-muted">
				{% if user.distance %} {{ user.distance }} km {% else %} Unknown
				{%endif %}
			</h6>
		</div>
	</div>
	{% endfor %} {% else %} Sorry, no users were found that match your criteria
	{% endif %} {% endif %}
</div>
{% endblock %} {% block sidebar %}
<div class="content-section">
	<form action="" method="POST">
		<fieldset class="form-group">
			<legend class="border-bottom mb-4">Search</legend>
			<div class="form-group">
				<label for="search" class="form-control-label">Search</label>
				<input
					type="text"
					name="search"
					id="search"
					class="form-control form-control-md"
				/>
			</div>
			<div class="form-row align-items-center">
				<div class="age-div">
					<label class="age-label">Min Age</label>
					<input type="number" name="min-age" id="min-age" min="10" />
				</div>
				<div class="age-div">
					<label class="age-label">Max Age</label>
					<input
						type="number"
						name="max-age"
						id="max-age"
						max="100"
					/>
				</div>
			</div>
			<div class="form-row align-items-center">
				<div class="age-div">
					<label class="age-label">Min Fame</label>
					<input
						type="number"
						name="min-fame"
						id="min-fame"
						min="0"
						step="0.1"
					/>
				</div>
				<div class="age-div">
					<label class="age-label">Max Fame</label>
					<input
						type="number"
						name="max-fame"
						id="max-fame"
						max="5"
						step="0.1"
					/>
				</div>
			</div>
			<div class="form-row align-items-center">
				<div class="age-div">
					<label class="age-label">Min Distance</label>
					<input
						type="number"
						name="min-dist"
						id="min-dist"
						min="0"
						step="0.1"
					/>
				</div>
				<div class="age-div">
					<label class="age-label">Max Distance</label>
					<input
						type="number"
						name="max-dist"
						id="max-dist"
						step="0.1"
					/>
				</div>
			</div>
			<div class="form-check">
				<input
					type="checkbox"
					name="tags"
					id="tags"
					class="form-check-input"
				/>
				<label for="tags" class="form-check-label">Same tags</label>
			</div>
		</fieldset>
		<div class="form-group d-flex justify-content-between">
			<button type="submit" class="btn btn-outline-primary">
				Search
			</button>
		</div>
	</form>
</div>
{% endblock %}
