body {
	background: #fafafa;
	color: #333333;
	margin: 0 !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: #444444;
}

li > a {
	text-decoration: none !important;
}

nav {
	margin-bottom: 2em;
}

th {
	font-size: 18px;
	text-align: left;
	background-color: white;
	padding: 10px 8px;
	color: #464646;
}

td {
	font-size: 14px;
	text-align: left;
	background-color: white;
	padding: 8px;
}

.bg-steel {
	background-color: #4f33ff;
}

.site-header .navbar-nav .nav-link {
	color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
	color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
	font-weight: 500;
}

.content-section {
	background: #ffffff;
	padding: 10px 20px;
	border: 1px solid #dddddd;
	border-radius: 3px;
	margin-bottom: 20px;
}

.article-title {
	color: #444444;
}

a.article-title:hover {
	color: #428bca;
	text-decoration: none;
}

.article-content {
	white-space: pre-line;
}

.article-img {
	height: 65px;
	width: 65px;
	margin-right: 16px;
}

.article-metadata {
	padding-bottom: 1px;
	margin-bottom: 4px;
	border-bottom: 1px solid #e3e3e3;
}

.article-metadata a:hover {
	color: #333;
	text-decoration: none;
}

.article-svg {
	width: 25px;
	height: 25px;
	vertical-align: middle;
}

.account-img {
	height: 125px;
	width: 125px;
	margin-right: 20px;
	margin-bottom: 16px;
}

.account-heading {
	font-size: 2.5rem;
}

.addMoreButton {
	margin: 0 0 1rem;
}

.addMore {
	border: 1px solid #dee2e6;
	padding: 0;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}

.fameRating {
	height: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}

.info-heads {
	margin-bottom: 0.1rem !important;
}

.recieve {
	background-color: #eeeeee;
	text-align: right;
}

.send {
	background-color: rgb(185, 185, 185);
	text-align: left;
}

.seen {
	color: chartreuse;
}

.unseen {
	color: firebrick;
}

.messages {
	overflow-y: auto;
	height: 35vw;
}

.MessageRoom {
	font-size: large;
	font-display: initial;
}

.btn-tags {
	margin-top: 4px;
	font-family: Raleway-SemiBold;
	font-size: 13px;
	color: rgba(44, 62, 80, 0.75);
	letter-spacing: 1px;
	line-height: 15px;
	border: 2px solid rgba(44, 62, 80, 0.75);
	border-radius: 40px;
	background: transparent;
	transition: all 0.3s ease 0s;
}

.btn-tags:hover {
	color: #fff;
	background: rgba(44, 62, 80, 0.75);
	border: 2px solid rgba(44, 62, 80, 0.75);
}

.feed {
	margin-bottom: 20px;
	padding: 0px;
}

.age-div {
	display: inline-block;
}

.age-label {
	display: block;
}
