{% extends "layout.html" %} {% block content %}

<p>
	<div class="MessageRoom"></div>
	<div class="messages">Choose room on the right</div>
</p>
<form class="Chatfrm" id="Chatfrm" style="display: none;">
	<input id="msg" type="text" class="message" placeholder="Enter a message" />
	<input type="submit" value="send" />
</form>

<!-- Submit form -->
<script>
	$('.Chatfrm').on('submit', (e) => {
		e.preventDefault()
			let message = $('input.message').val();
			socket.emit('send', {'message': message});
			$('input.message').val('').focus();
	});
</script>


{% endblock %}

{% block sidebar %}
<div class="Users">
	<p>
		<ul class="list-group">
			{% for User in Matches %}
				<li class="list-group-item list-group-item-light"><a href="#{{ User['id'] }}" onclick="SelectRoom({{ User['id']}}, '{{ User["username"] }}')" class="text-primary">{{ User["username"] }}</a></li>
			{% endfor %}
		</ul>
	</p>
</div>
{% endblock %}