{% extends 'layout.html' %} {% block content %}

<div class="content-section">
	<div class="row">
		<div class="media col-md-8">
			<img class="rounded-circle account-img" src="{{ profile }}" />
			<div class="media-body">
				<h2 class="account-heading">{{ user.username }}</h2>
				<h4>{{ user.fname }} {{ user.lname }}</h4>
				<p class="text-secondary">{{ user.email }}</p>
			</div>
		</div>
	</div>
	<div>
		<legend class="border-bottom mb-4">Bio</legend>
		{% if user.bio %}
		<span style="word-break: break-word;">{{ user.bio }}</span>
		{% else %}
		<span style="word-break: break-word;">No bio given</span>
		{% endif %}
	</div>
	<br>
	<div>
		<legend class="border-bottom mb-4">Info</legend>
		<div>
			<p class="info-heads"><b>Age:</b></p>
			{% if age > 0 %}
			<span style="word-break: break-word;">{{ age }} Years old</span>
			{% else %}
			<span style="word-break: break-word;">No age specified</span>
			{% endif %}
		</div>
		<br>
		<div>
			<p class="info-heads"><b>Gender:</b></p>
			{% if not user.gender %}
			<span style="word-break: break-word;">No gender provided</span>
			{% else %}
				{% if user.gender == 'M' %}
				<span style="word-break: break-word;">Male</span>
				{% elif user.gender == 'F' %}
				<span style="word-break: break-word;">Female</span>
				{% else %}
				<span style="word-break: break-word;">Other</span>
				{% endif %}
			{% endif %}
		</div>
		<br>
		<div>
			<p class="info-heads"><b>Sexuality:</b></p>
			{% if not user.sexuality %}
			<span style="word-break: break-word;">No sexuality provided</span>
			{% else %}
				{% if user.sexuality == 'S' %}
				<span style="word-break: break-word;">Heterosexual</span>
				{% elif user.sexuality == 'G' %}
				<span style="word-break: break-word;">Homosexual</span>
				{% else %}
				<span style="word-break: break-word;">Bisexual</span>
				{% endif %}
			{% endif %}
		</div>
		<br>
	</div>
	<div>
		<legend class="border-bottom mb-4">Tags</legend>
		{% if tags %}
			<span style="word-break: break-word;">
			{% for tag in tags %}
			#{{ tag.tags }}&nbsp;&nbsp;&nbsp;
			{% endfor %}
			</span>
		{% else %}
			<span>No tags chosen</span>
		{% endif %}
	</div>
</div>

<div class="content-section">
	<legend class="border-bottom mb-4">Photos</legend>
	<div class="row text-center">
		{% for pic in pics %}
		<figure class="col-md-4">
			<img
				alt="picture"
				src="{{url_for('static', filename='photos/' + pic.path)}}"
				class="img-fluid img-thumbnail"
			/>
			{% if not user.username or session.username == user.username.lower() %}
			<a href="{{ url_for('users.set_pic', photoId=pic.id) }}" class="btn btn-primary">Set AVI</a>
			<a href="{{ url_for('users.delete_pic', photoId=pic.id) }}" class="btn btn-danger">Delete</a>
			{% endif %}
		</figure>
		{% endfor %}
	</div>
	<div class="row text-center">
		{% if amount < 5 and (not user.username or session.username == user.username.lower()) %}
		<form id="PhotoForm" action="" method="POST" enctype="multipart/form-data" class="col-md-4 addMoreButton">
				<input type="file" name="picture" id="picture">
		</form>
		<script>
			// Auto upload
			function chooseFile() {
			$("#fileInput").click();
				}
				var picture = document.getElementById('picture')
				picture.addEventListener('change',() => {
						var myForm = document.getElementById("PhotoForm")
						myForm.submit();
				});
		</script>
		{% endif %}
	</div>
</div>

{% endblock %}

{% block sidebar %}

<div class="content-section text-center">
	<div class="fameRating">
		<h4>{{ user.fame }} / 5</h4>
		<h4>Fame Rating</h4>
	</div>
	{% if not user.username or session.username == user.username.lower() %}
	<p>
		<ul class="list-group">
			<li class="list-group-item list-group-item-light"><a href="{{ url_for('users.likes', type='likes') }}" class="text-primary">Likes</a></li>
			<li class="list-group-item list-group-item-light"><a href="{{ url_for('users.likes', type='matches') }}" class="text-primary">Matches</a></li>
			<li class="list-group-item list-group-item-light"><a href="{{ url_for('users.tags') }}" class="text-primary">Edit Tags</a></li>
			<li class="list-group-item list-group-item-light"><a href="{{ url_for('users.edit') }}" class="text-primary">Edit Profile</a></li>
			<li class="list-group-item list-group-item-light"><a href="{{ url_for('users.password') }}" class="text-primary">Change Password</a></li>
		</ul>
	</p>
	{% else %}
	<hr>
		{% if user.lastonline == "now" %}
		<span>Online now</span>
		<br>
		{% elif user.lastonline %}
		<span>Last online: {{ user.lastonline }}</span>
		<br>
		{% else %}
		<span>Offline</span>
		<br>
		{% endif %}

	{% if user.id != 1 %}
		{% if matched == 1%}
		<a class="btn btn-primary" href="{{ url_for('users.match_user', userId=user.id) }}" role="button">Unmatch</a>
		{% else %}
			{% if liked == 1%}
			<a class="btn btn-primary" href="{{ url_for('users.like_user', userId=user.id) }}" role="button">Unlike</a>
			{% else %}
			<a class="btn btn-primary" href="{{ url_for('users.like_user', userId=user.id) }}" role="button">Like</a>
			{% endif %}
		{% endif %}
		{% if blocked == 1 %}
		<a class="btn btn-danger" href="{{ url_for('users.block_user', userId=user.id) }}" role="button">Unblock</a>
		{% else %}
		<a class="btn btn-danger" href="{{ url_for('users.block_user', userId=user.id) }}" role="button">Block</a>
		{% endif %}
	{% endif %}
	</form>
	{% endif %}
</div>

{% endblock %}
