{% extends 'layout.html' %} {% block content %}

<div class="content-section">
	<div class="row">
		<div class="media col-md-8">
			<img class="rounded-circle account-img" src="{{ profile }}" />
			<div class="media-body">
				<h2 class="account-heading">@{{ user.username }}</h2>
				<h4>{{ user.fname }} {{ user.lname }}</h4>
				<p class="text-secondary">{{ user.email }}</p>
			</div>
		</div>
		<div class="col-md-4 fameRating">
			<h4>{{ user.fame }} / 5</h4>
			<h4>Fame Rating</h4>
		</div>
	</div>
</div>

<div class="content-section">
	<legend class="border-bottom mb-4">Photos</legend>
	<div class="row text-center">
		{% for pic in pics %}
		<figure class="col-md-4">
			<img
				alt="picture"
				src="{{url_for('static', filename='photos/' + pic.path)}}"
				class="img-fluid img-thumbnail"
			/>
		</figure>
		{% endfor %}
		{% if amount < 5 and (not username or session.username == username.lower()) %}
		<a href="#" class="col-md-4 addMoreButton">
			<figure class="addMore">
				<span>Add Photo</span>
			</figure>
		</a>
		{% endif %}
	</div>
	<!-- <form>
		<div class="custom-file">
			<input type="file" class="custom-file-input" id="customFile">
			<label class="custom-file-label" for="customFile">Choose file<label>
		</div>
	</form> -->
</div>

<!-- <script>
	$(".custom-file-input").on("change", function() {
		var fileName = $(this)
			.val()
			.split("\\")
			.pop();
		$(this)
			.siblings(".custom-file-label")
			.addClass("selected")
			.html(fileName);
	});
</script> -->

{% endblock %}

{% block sidebar %}

<div class="content-section text-center">
	{% if user.bio %}
	<span style="word-break: break-all;">{{ user.bio }}</span>
	<hr>
	{% endif %}
	{% if not user.preference %}
	<span style="word-break: break-all;">Placeholder for preferences</span>
	{% endif %}
	{% if not username or session.username == username.lower() %}
	<p>
		<ul class="list-group">
			<li class="list-group-item list-group-item-light"><a href="#" class="text-primary">Matches</a></li>
			<li class="list-group-item list-group-item-light"><a href="{{ url_for('users.edit') }}" class="text-primary">Edit Profile</a></li>
			<li class="list-group-item list-group-item-light"><a href="{{ url_for('users.password') }}" class="text-primary">Change Password</a></li>
		</ul>
	</p>
	{% else %}
	<hr>
	<a class="btn btn-primary" href="#" role="button">Match</a>
	<a class="btn btn-danger" href="#" role="button">Report</a>
	{% endif %}
</div>

{% endblock %}
